<nav class="navbar-custom">
    <ul class="list-inline float-right mb-0">

        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
            <!-- item-->
            <div class="dropdown-item noti-title"><h5><span
                    class="badge badge-danger float-right">5</span>Messages
            </h5></div><!-- item-->
            <a href="javascript:void(0);"
               class="dropdown-item notify-item">
                <div class="notify-icon"><img
                        src="../../static/adminResources/image/admin-logo.jpeg"
                        alt="user-img"
                        class="img-fluid rounded-circle"></div>
                <p class="notify-details"><b>Charles M. Jones</b>
                    <small class="">Dummy text of the printing and
                        typesetting industry.</small>
                </p>
            </a><!-- item--> <a href="javascript:void(0);"
                                class="dropdown-item notify-item">
            <div class="notify-icon"><img
                    src="../../static/adminResources/image/avatar-3.jpg"
                    alt="user-img"
                    class="img-fluid rounded-circle"></div>
            <p class="notify-details"><b>Thomas J. Mimms</b>
                <small class="">You have 87 unread messages</small>
            </p>
        </a><!-- item--> <a href="javascript:void(0);"
                            class="dropdown-item notify-item">
            <div class="notify-icon"><img
                    src="../../static/adminResources/image/avatar-4.jpg"
                    alt="user-img"
                    class="img-fluid rounded-circle"></div>
            <p class="notify-details"><b>Luis M. Konrad</b>
                <small class="">It is a long established fact that a reader
                    will</small>
            </p>
        </a>
            <div class="dropdown-divider"></div><!-- All--> <a
                href="javascript:void(0);"
                class="dropdown-item notify-item">View
            All</a></div>
        </li>

        <li class="list-inline-item dropdown notification-list"><a
                class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user"
                data-toggle="dropdown" href="#" role="button"
                aria-haspopup="false"
                aria-expanded="false"><img
                src="../../static/adminResources/image/admin-logo.jpeg" alt="user"
                class="rounded-circle"></a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                <!-- item-->
                <div class="dropdown-item noti-title"><h5>Welcome</h5></div>

                <a class="dropdown-item text-danger" href="/"><i
                        class="mdi mdi-power text-danger"></i>
                    Logout</a>
            </div>
        </li>
    </ul>
    <ul class="list-inline menu-left mb-0">
        <li class="float-left">
            <button class="button-menu-mobile open-left waves-light waves-effect">
                <i
                        class="mdi mdi-menu"></i></button>
        </li>

    </ul>
    <div class="clearfix"></div>
</nav>