<div class="footer-area">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
                        <div class="single-wedge" style="margin-left: 20px">
                            <div class="logo">
                                <div class="text">

                                    <a href="" class="logo" style="font-size:xxx-large"><b style="color: white">
                                        <span>Glow</span>Gadget</b></a>
                                </div>
                            </div>
                            <p style="margin-top: 20px;">Cast the perfect light on all your products, designs and
                                collections the easiest way possible with GlowGadget.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
                        <center>
                            <div class="single-wedge">
                                <h4 class="footer-herading">CUSTOM LINKS</h4>
                                <div class="footer-links">
                                    <ul>
                                        <li>
                                            <a href="/user_about">About Us</a>
                                        </li>

                                        <li>
                                            <a href="/user_contact_us">Contact Us</a>
                                        </li>

                                        <li>
                                            <a href="/user_price">Pricing</a>
                                        </li>

                                        <li>
                                            <a href="/user_load_category">Category</a>
                                        </li>

                                        <li>
                                            <a href="/user_products">Collections</a>
                                        </li>

                                        <li>
                                            <a href="/user_load_dashboard">Stores</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </center>
                    </div>
                    {#                    <div class="col-md-6 col-lg-2 mb-sm-30px mb-lm-30px">#}
                    {#                        <div class="single-wedge">#}
                    {#                            <h4 class="footer-herading">CUSTOM LINKS</h4>#}
                    {#                            <div class="footer-links">#}
                    {#                                <ul>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#">Legal#}
                    {#                                            Notice</a></li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#">Prices#}
                    {#                                            Drop</a></li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#">New#}
                    {#                                            Products</a></li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#">Best#}
                    {#                                            Sales</a></li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/login.html">Login</a>#}
                    {#                                    </li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/my-account.html">My#}
                    {#                                            Account</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
                        <div class="single-wedge" style="margin-left: 70px">
                            <h4 class="footer-herading">ABOUT US</h4>
                            <p class="text-infor">We are a team of designers
                                and developers that create high quality HTML
                                template</p>
                            <div class="need-help">
                                <p class="phone-info">
                                    NEED HELP?
                                    <span>
                                        0123456789 <br>
                                        0123456789
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-md-6 col-lg-4 ">#}
                    {#                        <div class="single-wedge">#}
                    {#                            <h4 class="footer-herading">NEWSLETTER</h4>#}
                    {#                            <div class="subscrib-text">#}
                    {#                                <p>You may unsubscribe at any moment. For that#}
                    {#                                    purpose, please find our contact info in#}
                    {#                                    the legal notice.</p>#}
                    {#                            </div>#}
                    {#                            <div id="mc_embed_signup" class="subscribe-form">#}
                    {#                                <form id="mc-embedded-subscribe-form"#}
                    {#                                      class="validate" novalidate=""#}
                    {#                                      target="_blank"#}
                    {#                                      name="mc-embedded-subscribe-form"#}
                    {#                                      method="post"#}
                    {#                                      action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">#}
                    {#                                    <div id="mc_embed_signup_scroll"#}
                    {#                                         class="mc-form">#}
                    {#                                        <input class="email" type="email"#}
                    {#                                               required=""#}
                    {#                                               placeholder="Enter your email here.."#}
                    {#                                               name="EMAIL" value=""#}
                    {#                                               fdprocessedid="7kcmt">#}
                    {#                                        <div class="mc-news" aria-hidden="true"#}
                    {#                                             style="position: absolute; left: -5000px;">#}
                    {#                                            <input type="text" value=""#}
                    {#                                                   tabindex="-1"#}
                    {#                                                   name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">#}
                    {#                                        </div>#}
                    {#                                        <div class="clear">#}
                    {#                                            <input id="mc-embedded-subscribe"#}
                    {#                                                   class="button" type="submit"#}
                    {#                                                   name="subscribe"#}
                    {#                                                   value="Sign Up"#}
                    {#                                                   fdprocessedid="0dnx5">#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </form>#}
                    {#                            </div>#}
                    {#                            <div class="social-info">#}
                    {#                                <ul>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#"><i#}
                    {#                                                class="icon-social-facebook"></i></a>#}
                    {#                                    </li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#"><i#}
                    {#                                                class="icon-social-twitter"></i></a>#}
                    {#                                    </li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#"><i#}
                    {#                                                class="icon-social-instagram"></i></a>#}
                    {#                                    </li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#"><i#}
                    {#                                                class="icon-social-google"></i></a>#}
                    {#                                    </li>#}
                    {#                                    <li>#}
                    {#                                        <a href="https://htmldemo.net/rozer/rozer/index.html#"><i#}
                    {#                                                class="icon-social-instagram"></i></a>#}
                    {#                                    </li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <center>

                            <p class="copy-text"> © 2024 <strong>Glow
                                Gadget. </strong>
                                <strong> All Rights Reserved.</strong></p>
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>