<div class="header-top bg-white ptb-30px d-xl-block d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <div class="text">
                        <a href="/user_load_dashboard" class="logo" style="font-size:
            xx-large"><b><span style="color: rgba(89,206,181,.6)
">Glow</span>Gadget</b></a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 align-self-center">
                <div class="header-right-element d-flex">
                    <div class="search-element media-body">
                    </div>
                    <div class="">
                    </div>
                    <!--Cart info Start -->
                    <div class="header-tools d-flex">
                        <a href="/user_cart" class="bag"><i class="fa fa-shopping-cart" aria-hidden="true"
                                                             style="font-size: 25px; color: #504e4e;"></i></a>
                    </div>
                    <div class="header-tools d-flex" style="margin-right: 25px;">
                        <a href="/user_logout/" class="bag"><i 
                                class="fa fa-power-off"
                                                 style="font-size: 25px; color: #504e4e; margin-left: 15px"></i>
                        </a>
                    </div>
                </div>
                <!--Cart info End -->
            </div>
        </div>
    </div>
</div>
<div class="header-menu bg-blue sticky-nav d-xl-block d-none padding-0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 custom-col-2">
                <div class="header-horizontal-menu">
                    <ul class="menu-content">
                        <li>
                            <a href="/user_load_home">Home</a>
                        </li>
                        <li>
                            <a href="/user_load_category">Category
                            </a>
                        </li>
                        <li>
                            <a href="/user_products">Product
                            </a>
                        </li>
                        <li>
                            <a href="/user_view_order">My Order
                            </a>
                        </li>
                        <li>
                            <a href="/user_about">About
                            </a>
                        </li>
                        <li>
                            <a href="/user_contact_us">contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- header horizontal menu -->
            </div>
            <div class="col-lg-3 custom-col-2">
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
